# Ignore Python virtual environments
backend/.venv/
venv/
frontend/node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.sqlite3
*.db
*.db-journal
backend/life_metrics.db
backend/app/*.sqlite
backend/app/*.db
backend/app/test.db

# Environment variables
.env
.env.*

# IDE/editor history and settings
.vscode/
.idea/
# macOS Finder
.DS_Store

# Logs
*.log
logs/

# Python test/coverage
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Sphinx documentation
backend/docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
compiled/

# Pyre type checker
.pyre/

# Github workflows artifacts
.github/workflows/*.log

# Backend config
backend/app/metrics_config.yaml

# Frontend build
frontend/dist/
PROJECT_PLAN.md
